* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(23, 23, 23);
  overflow: hidden;
}
.body-con {
  position: relative;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 100vw;
  height: 100vh;
}
.piano-ctrl-con {
  grid-row: 4;
  grid-column: 2;
  margin-left: 5rem;
  margin-bottom: 5rem;
  padding-right: -3rem;
  text-align: center;
}
.octave-change {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 131, 74);
  border-radius: 0.5rem;
}
button {
  background-color: transparent;
  border: none;
  width: 4rem;
  height: 4rem;
}
button:hover {
  cursor: pointer;
}
svg {
  color: white;
  width: 3rem;
}
svg:hover {
  color: rgb(255, 121, 18);
}
svg:active {
  color: rgb(255, 34, 18);
}
p {
  color: white;
  font-size: 2rem;
}
.piano-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.white {
  width: 4rem;
  height: 15rem;
  background-color: white;
  outline: solid black 1px;
}
.white:hover {
  background-color: rgb(220, 220, 220);
}
.black {
  width: 2rem;
  height: 8rem;
  background-color: black;
  margin-left: -1.5rem;
  margin-right: -1.1rem;
  z-index: 2;
}
.black:hover {
  background-color: rgb(54, 54, 54);
}
.key:hover {
  cursor: pointer;
}
.key {
  border-radius: 1px;
}
